.alternate_greetings_list .drag-handle {
    display: none !important;
}

.alternate_greeting[draggable="true"] {
    transition: opacity 0.2s, border 0.2s;
}

.alternate_greeting[draggable="true"]:hover {
    background-color: rgba(0, 120, 215, 0.05);
    cursor: move;
}

.alternate_greeting[draggable="true"] {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
